$orange: #DE8667;
$light_orange: #EFB467;
$font-stack: 'Raleway';

body{
font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 18px;

color: #322D38;
}

.orange-block{
    color: $orange;
}

.blue-block{
    color: #3F0FB7;
}

.pointer{
    cursor: pointer
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 0px;
    gap: 16px;
    
    position: absolute;
    left: 0px;
    right: 0px;
    top: 100%;
    bottom: 0%;
    
    /* Orange */
    
    background: #DE8667;
    /* Shadow */
    
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    border-radius: 0px;
}
.nav-buttons{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
    

.login_button_nav{
    color: $orange;
    background-color: white;
    border-radius: 55px;
    border: 2px solid $orange;
    text-decoration: none;
    height: 40px;
    width: 120px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-right: 40px;
    font-size: 18px;
}

.register_button_nav{
    
    color: white;
    background-color: $orange;
    border-radius: 55px;
    border: 2px solid $orange;
    text-decoration: none;
    height: 40px;
    width: 120px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content:center;
    font-size: 18px;
}

.pagination-button{
    color: $orange;
    background-color: white;
    border-radius: 55px;
    border: 2px solid $orange;
    text-decoration: none;
    height: 40px;
    width: 120px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-top: 20px;
    font-size: 18px;
}

.logged-in{
    margin: 5px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap:20px
}

.bold{
    font-weight: bold;
}
.footer-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 72px;
    gap: 82px;
    color: white;
    width: 1440px;
    height: 25px;
}



.nav{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding-top: 40px;
gap: 645px;

position: absolute;
height: 40px;
left: 70px;
right: 70px;
top: calc(50% - 40px/2 - 446px);
}
/*
img{
    width: 65px;
    height: 65px;
    border-radius: 50%
}*/

span{
    color: $orange;
    text-decoration: none 
}

