$orange: #DE8667;
$light_orange: #EFB467;
* {
    box-sizing: border-box;
  }


.register-page{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 16px;

position: absolute;
height: 540px;
left: 35.42%;
right: 35.42%;
top: 15%;
}

.login-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 33%;
    gap: 16px;
    //display: inline-block;
}

.auth-input{
    margin-bottom: 10px;
    border-radius: 55px;
    border: 2px solid $orange;
    height: 40px;
    padding-left: 20px;
}

.register-button{
background: $orange;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
border-radius: 32px;
height: 40px;
color: white;
border:none
}

.login-button{
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 32px;
    height: 40px;
    color: $orange;
    border-radius: 55px;
    border: 2px solid $orange;
}

.register-form{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
display:inline-block;
flex-wrap: wrap;
}

.register-text-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.one-input{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 8px;


flex: none;
align-self: stretch;
flex-grow: 0;
}

.two-input{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 16px;

flex: none;
align-self: stretch;
flex-grow: 0;
}

.stretch{
    width:100%;
}

.register-below-form{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding: 0px;
    gap: 0px;
    
    width: 100%;
    height: 19px;
    align-items: center;
    flex: none;
    flex-grow: 0;
}
