@media screen and (min-width: 769px) {
$orange: #DE8667;

.nav {

    .side-menu {
        display: none;
    }
}

.landing-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 0px;
}

.welcome-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.welcome-first-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 1000px;
}

.display-quotes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-quote{

}

h1{
    margin-bottom: 0px;
}


.welcome-text{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
}

.text-xlg{
    font-size: 80px;
}

.text-md{
    font-size: 32px;
}

.text-lg{
    font-size: 48px;
}

.explore-text{
    font-size: 32px;
    text-align: center;
}

.best-landing-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.best-landing-quotes{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0px;
    gap: 20px;
    flex-basis: 33.333%;
    flex-wrap: wrap;
    margin: 0 auto;
    > div {
        width: 31%;

        .quoteCard {
            width: 100%;
        }
    }
}


.register_button_landing{
    
    color: white;
    background-color: $orange;
    border-radius: 55px;
    border: 2px solid $orange;
    text-decoration: none;
    height: 40px;
    width: 160px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content:center;
    font-size: 18px;
    margin-top: 30px;
}


.best-landing-first-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.display-quotes {
    position: relative;
}

.top-quote {
    position: absolute;
    top: 0;
    z-index: 5;
}

.center-quote {
    position: absolute;
    z-index: 10;
}

.bottom-quote {
    position: absolute;
    bottom: 0;
    z-index: 5;
}

.random-quote {
    .quoteCard {
        max-width: none;
        width: 380px; 
    }
}


}