@media screen and (max-width: 768px) {
$orange: #DE8667;
$light_orange: #EFB467;
$font-stack: 'Raleway';

.profile-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
}

.orange-background{
    position: absolute;
    height: 370px;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    background-color: $orange;
    z-index: -10;
}
    
.profile-quotes{
    
    margin: 0 20px;
    h1{
        margin-bottom: 30px;
        font-weight: lighter;
    }
    width: 90%;
}

.profile-quotecards{
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 19px;
}

.profile-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    gap: 30px;
    img{
        height: 64px;
        width: 64px;
        margin-bottom: 20px;
        border-radius: 50%;
    }
}

.profile-name{
    position: absolute;
    color: white;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 41px;   
    text-align: center;
    letter-spacing: 0.25px;
}

.user-stats{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 16px 48px;
gap: 32px;
background: #FFFFFF;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
border-radius: 16px;
margin-top: 20px;
//width: 315px;
p{
    margin: 0px;
}
}



.quote-number{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.user-karma{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

}